@import url("https://use.typekit.net/iui3juu.css");
@font-face {
  font-family: 'Nodesto';
  src: url("../assets/fonts/NodestoCapsCondensed.otf"); }

.archmage-preload {
  background: url("../assets/src/ricepaper2_@2X.png") -9999px -9999px;
  pointer-events: none; }

.nodesto {
  color: #444;
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px; }

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px; }

.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .flexrow > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .flexcol > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

#chat-log .message {
  font-family: "warnock-pro", "sans-serif"; }

#chat-log .card-header {
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif; }

#chat-log .card-prop {
  line-height: 1.2; }

#chat-log .card-row p {
  line-height: 1.2; }

.ability-usage {
  background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
  background: linear-gradient(45deg, #25003c, #dc9ff1a6);
  color: #fff;
  padding-left: 4px;
  text-shadow: 1px 1px 2px #000; }

.ability-usage--blank {
  color: #000;
  text-shadow: none; }

.ability-usage--at-will {
  background: -o-linear-gradient(45deg, #003c15, #5ee25e);
  background: linear-gradient(45deg, #003c15, #5ee25e); }

.ability-usage--header {
  background: transparent; }

.ability-usage--once-per-battle {
  background: -o-linear-gradient(45deg, #3c0000, #dc0000);
  background: linear-gradient(45deg, #3c0000, #dc0000); }

.ability-usage--daily {
  background: -o-linear-gradient(45deg, #01003c, #ababab);
  background: linear-gradient(45deg, #01003c, #ababab); }

.ability-usage--recharge {
  background: -o-linear-gradient(45deg, #01003c, #71a2ec);
  background: linear-gradient(45deg, #01003c, #71a2ec); }

.ability-usage--other {
  background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
  background: linear-gradient(45deg, #25003c, #dc9ff1a6); }

.archmage.sheet {
  font-family: "warnock-pro", "sans-serif"; }
  .archmage.sheet h1,
  .archmage.sheet h2,
  .archmage.sheet h3,
  .archmage.sheet h4 {
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif; }
  .archmage.sheet .window-content {
    background: url("../assets/src/ricepaper2_@2X.png");
    background-attachment: local;
    background-size: 300px;
    -webkit-box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45);
    font-size: 13px;
    overflow-y: auto;
    padding: 5px; }
  .archmage.sheet form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .archmage.sheet form > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage.sheet form [type='text'] {
      background: none;
      border: 1px solid transparent;
      color: #444;
      height: calc(100% - 2px);
      padding: 0;
      width: calc(100% - 2px); }
      .archmage.sheet form [type='text']:hover, .archmage.sheet form [type='text']:focus {
        border: 1px solid #111;
        -webkit-box-shadow: 0 0 8px #ff0000;
        box-shadow: 0 0 8px #ff0000; }
    .archmage.sheet form input:disabled {
      color: #444; }
    .archmage.sheet form select:disabled,
    .archmage.sheet form textarea:disabled {
      color: #444; }
    .archmage.sheet form input:hover, .archmage.sheet form input:focus, .archmage.sheet form input:disabled,
    .archmage.sheet form select:hover,
    .archmage.sheet form select:focus,
    .archmage.sheet form select:disabled,
    .archmage.sheet form textarea:hover,
    .archmage.sheet form textarea:focus,
    .archmage.sheet form textarea:disabled,
    .archmage.sheet form input:hover,
    .archmage.sheet form input:focus,
    .archmage.sheet form input:disabled,
    .archmage.sheet form select:hover,
    .archmage.sheet form select:focus,
    .archmage.sheet form select:disabled,
    .archmage.sheet form textarea:hover,
    .archmage.sheet form textarea:focus,
    .archmage.sheet form textarea:disabled {
      border: 1px solid transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .archmage.sheet form span,
    .archmage.sheet form label {
      display: block; }
    .archmage.sheet form .mce-panel span {
      display: inherit; }
    .archmage.sheet form.editable .rollable:hover {
      color: #000;
      cursor: pointer;
      text-shadow: 0 0 10px #ff0000; }
    .archmage.sheet form .sheet-header {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      height: 44px;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .archmage.sheet form .sheet-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: calc(100% - 44px);
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .archmage.sheet form .sheet-sidebar {
      border-right: 1px solid #aaa;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
      flex: 0 0 220px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: calc(100% - 44px);
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .archmage.sheet form .sheet-sidebar > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .archmage.sheet form .sheet-sidebar .sheet-profile {
        border: 0;
        border-bottom: 1px solid #ccc;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
        flex: 0 0 220px; }
      .archmage.sheet form .sheet-sidebar .tab {
        padding-right: 3px; }
    .archmage.sheet form .sheet-tabs {
      border-bottom: 1px solid #666;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
      flex: 0 0 28px;
      margin-top: 2px;
      padding: 0 2px; }
      .archmage.sheet form .sheet-tabs > .item {
        border-radius: 5px 5px 0 0;
        line-height: 26px;
        padding: 0 10px; }
        .archmage.sheet form .sheet-tabs > .item.active {
          border: 1px solid #666;
          border-bottom: 0;
          -webkit-box-shadow: 0 0 10px inset #a78f77;
          box-shadow: 0 0 10px inset #a78f77;
          color: #000;
          font-weight: 700;
          text-shadow: none; }
    .archmage.sheet form .settings-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .archmage.sheet form .settings-group input,
      .archmage.sheet form .settings-group strong {
        height: 22px;
        line-height: 22px;
        width: auto; }
      .archmage.sheet form .settings-group .attribute-name {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-weight: bold; }
      .archmage.sheet form .settings-group .attribute-input {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
        flex: 0 0 32px; }
  .archmage.sheet .item-sheet {
    display: block; }
    .archmage.sheet .item-sheet input [type='text'] {
      border: 1px solid #444; }

.archmage.actor-sheet .sheet-header {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .archmage.actor-sheet .sheet-header > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet .sheet-header .charname {
    border: 0;
    height: 44px;
    padding: 5px 5px 5px 0; }
    .archmage.actor-sheet .sheet-header .charname > input {
      border: 0;
      color: #444;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 36px;
      margin: 0;
      width: 100%; }
  .archmage.actor-sheet .sheet-header .charlevel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 44px;
    text-align: right; }
    .archmage.actor-sheet .sheet-header .charlevel > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage.actor-sheet .sheet-header .charlevel .level {
      color: #444;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
      flex: 0 0 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 20px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      line-height: 20px;
      width: 100%; }
      .archmage.actor-sheet .sheet-header .charlevel .level > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .archmage.actor-sheet .sheet-header .charlevel .level > [type='text'] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 26px;
        flex: 0 0 26px;
        height: 20px;
        text-align: center; }
    .archmage.actor-sheet .sheet-header .charlevel .xpbar {
      background: #666;
      border: 1px solid #000;
      border-radius: 3px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
      flex: 0 0 8px;
      width: 100%; }
      .archmage.actor-sheet .sheet-header .charlevel .xpbar .bar {
        background: #afebff;
        border: 1px solid #000;
        border-radius: 2px;
        display: block;
        height: 4px;
        margin: 1px; }
    .archmage.actor-sheet .sheet-header .charlevel .experience {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
      flex: 0 0 16px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .archmage.actor-sheet .sheet-header .charlevel .experience > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .archmage.actor-sheet .sheet-header .charlevel .experience > [type='text'] {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 16px;
        text-align: right; }

.archmage.actor-sheet .tab {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 380px;
  flex: 1 0 380px; }
  .archmage.actor-sheet .tab .background,
  .archmage.actor-sheet .tab .background__item,
  .archmage.actor-sheet .tab .icon,
  .archmage.actor-sheet .tab .icon__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0; }
  .archmage.actor-sheet .tab .background__item--name,
  .archmage.actor-sheet .tab .icon__item--name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .archmage.actor-sheet .tab .background__item--bonus,
  .archmage.actor-sheet .tab .icon__item--bonus {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    margin: 0;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    text-align: center; }
  .archmage.actor-sheet .tab .background__item--bonus::before {
    content: '+';
    display: inline-block; }

.archmage.actor-sheet .backgrounds .directory-list {
  padding: 0; }

.archmage.actor-sheet .details {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  list-style: none;
  margin: 0;
  min-height: 30px;
  padding: 0; }
  .archmage.actor-sheet .details .character-detail {
    border-right: 1px solid #ccc;
    float: left;
    height: 24px;
    margin: 3px 0;
    padding-left: 3px;
    width: 33.33%; }
    .archmage.actor-sheet .details .character-detail:last-child {
      border-right: 0; }
    .archmage.actor-sheet .details .character-detail > input,
    .archmage.actor-sheet .details .character-detail .attribute-label {
      color: #444;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 20px; }
  .archmage.actor-sheet .details .character-detail--race,
  .archmage.actor-sheet .details .character-detail--class {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    float: none;
    height: 24px;
    line-height: 24px; }

.archmage.actor-sheet .primary-attributes {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .archmage.actor-sheet .primary-attributes > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet .primary-attributes .attribute {
    border-right: 1px solid #ccc;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    height: 72px;
    margin: 4px 0;
    padding: 0 4px; }
    .archmage.actor-sheet .primary-attributes .attribute.attribute--weapons {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .archmage.actor-sheet .primary-attributes .attribute:last-child {
      border-right: 0;
      margin-right: 0; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-name {
      border-bottom: 1px solid #ccc;
      color: #444;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      height: 22px;
      line-height: 22px;
      margin: 0 0 2px;
      position: relative;
      text-align: center; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-name .npc-roll-hp {
        position: absolute;
        right: 2px; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-display,
    .archmage.actor-sheet .primary-attributes .attribute .attribute-value {
      font-family: "warnock-pro", "sans-serif";
      text-align: center; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-value {
      color: #444;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-family: "warnock-pro", "sans-serif";
      font-size: 20px;
      height: 25px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      line-height: 25px;
      text-align: center; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-value > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-footer {
      height: 16px;
      text-align: center; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer span {
        display: inline-block; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--temp-hp {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-top: 1px solid #ccc;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--temp-hp > span {
          border-right: 1px solid rgba(0, 0, 0, 0.25);
          -webkit-box-flex: 65%;
          -ms-flex: 65%;
          flex: 65%;
          padding: 0 8px;
          text-align: right; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--temp-hp > input {
          -webkit-box-flex: 35%;
          -ms-flex: 35%;
          flex: 35%;
          padding-left: 8px;
          text-align: left; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input {
        max-width: 24px; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.temphp {
          max-width: 100%; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.hit-dice {
          max-width: 16px;
          min-width: 16px;
          text-align: right; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input[name='data.attributes.speed.value'] {
          max-width: none;
          text-align: left; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.speed, .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.hpformula {
          max-width: 90%; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer .rest {
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 0 2px; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.recharge [type='checkbox'] {
        margin: 1px; }
  .archmage.actor-sheet .primary-attributes .attribute--defenses {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }

.archmage.actor-sheet .statuses {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29px;
  flex: 0 0 29px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0; }
  .archmage.actor-sheet .statuses > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet .statuses .status {
    border-right: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 28px;
    padding: 0 6px; }
    .archmage.actor-sheet .statuses .status > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage.actor-sheet .statuses .status.death {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .archmage.actor-sheet .statuses .status:last-child {
      border-right: 0; }
    .archmage.actor-sheet .statuses .status h4 {
      color: #444;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      margin: 0; }
    .archmage.actor-sheet .statuses .status .status-value {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
      .archmage.actor-sheet .statuses .status .status-value > * {
        display: inline-block;
        margin-right: 5px; }
      .archmage.actor-sheet .statuses .status .status-value > input[type='text'] {
        height: 20px;
        margin: 0;
        max-width: 20px; }
      .archmage.actor-sheet .statuses .status .status-value > input[type='checkbox'] {
        position: relative;
        top: 2px; }

.archmage.actor-sheet .biography .editor {
  height: 380px;
  padding-left: 8px; }

.archmage.npc-sheet .character-detail {
  width: 25%; }

.archmage.npc-sheet .biography .editor {
  height: 465px; }

.archmage.sheet .item-sheet .sheet-header, .archmage.actor-sheet .item-sheet .sheet-header, .archmage.npc-sheet .item-sheet .sheet-header, .archmage.item-sheet .item-sheet .sheet-header {
  height: 44px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0; }
  .archmage.sheet .item-sheet .sheet-header img, .archmage.actor-sheet .item-sheet .sheet-header img, .archmage.npc-sheet .item-sheet .sheet-header img, .archmage.item-sheet .item-sheet .sheet-header img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 44px;
    flex: 0 0 44px; }

.archmage.sheet .editor, .archmage.actor-sheet .editor, .archmage.npc-sheet .editor, .archmage.item-sheet .editor {
  height: 100%; }

.archmage.sheet .sheet-header input, .archmage.actor-sheet .sheet-header input, .archmage.npc-sheet .sheet-header input, .archmage.item-sheet .sheet-header input {
  height: auto;
  line-height: 1;
  width: calc(100% - 12px); }

.archmage.item-sheet .editor {
  height: 200px; }

.archmage.item-sheet .editor-content {
  background-color: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 4px; }

.archmage.item-sheet .form-group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .archmage.item-sheet .form-group > label {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: bold;
    margin-right: 4px; }

.archmage .mce-tinymce,
.archmage .mce-container-body {
  height: 100%; }

.archmage .mce-edit-area {
  -webkit-box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.25);
  height: 84%; }

.archmage .mce-container-body iframe {
  height: 100% !important; }

.archmage .abilities {
  margin-bottom: 3px; }
  .archmage .abilities .abilities-list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .archmage .abilities .ability-name,
  .archmage .abilities .ability-header {
    color: #444;
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    margin: 0; }
  .archmage .abilities .ability {
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 36px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 36px; }
    .archmage .abilities .ability > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage .abilities .ability .ability-name {
      font-size: 16px; }
    .archmage .abilities .ability .ability-proficiency {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px; }
      .archmage .abilities .ability .ability-proficiency .fa-circle {
        font-size: 10px; }
    .archmage .abilities .ability .ability-score {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px; }
      .archmage .abilities .ability .ability-score > input {
        color: #444;
        font-family: "warnock-pro", "sans-serif";
        font-size: 22px;
        height: 30px;
        margin: 3px;
        text-align: center;
        width: 30px; }
    .archmage .abilities .ability .ability-mod,
    .archmage .abilities .ability .ability-lvl {
      color: #666;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px;
      font-family: "warnock-pro", "sans-serif";
      font-size: 18px;
      line-height: 24px;
      margin: 8px 0;
      text-align: center; }
    .archmage .abilities .ability .ability-mod {
      border-right: 1px solid #ccc; }
    .archmage .abilities .ability .ability-lvl {
      border-left: 1px solid #ccc; }

.archmage .skill {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 13px;
  height: 21px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 21px; }
  .archmage .skill > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage .skill .skill-name {
    margin: 0; }
  .archmage .skill .skill-proficiency {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px; }
    .archmage .skill .skill-proficiency .fa-circle {
      font-size: 10px; }
  .archmage .skill .skill-ability {
    color: #666;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    margin-right: 4px;
    text-align: right; }
  .archmage .skill .skill-mod {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    text-align: center; }

.archmage .directory-list--weapons {
  padding: 0; }

.archmage .weapon--header {
  font-weight: bold; }

.archmage .weapon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .archmage .weapon + .weapon {
    border-top: 1px solid #999; }

.archmage .weapon__atk,
.archmage .weapon__dmg,
.archmage .weapon__miss {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px; }

.archmage .weapon__dmg {
  text-align: center; }

.archmage .weapon__miss {
  text-align: right; }

.archmage.locked .ability-proficiency,
.archmage.locked .skill-proficiency {
  cursor: default;
  text-shadow: none; }

.archmage .spellbook .spellcasting-ability {
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  margin: 0;
  padding: 3px 3px 0; }
  .archmage .spellbook .spellcasting-ability label {
    line-height: 20px; }
  .archmage .spellbook .spellcasting-ability select {
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 10px;
    height: 18px; }

.archmage .spellbook .spellbook-header .spell-school,
.archmage .spellbook .spellbook-header .spell-action {
  color: inherit; }

.archmage .spellbook .inventory-list {
  height: calc(100% - 28px); }

.archmage .spellbook .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.archmage .spellbook .spell-school,
.archmage .spellbook .spell-action {
  border-right: 1px solid #ccc;
  color: #666;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 12px;
  text-align: center; }

.archmage .spellbook .spell-slots {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  font-size: 12px;
  text-align: center; }

.archmage .spellbook .spell-max {
  border-right: 1px solid #ccc;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  font-size: 12px;
  text-align: center; }

.archmage .spellbook .spellbook-empty .item-controls {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.archmage .feats .feats-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.archmage .item-details,
.archmage .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  margin: 0;
  padding: 5px 0; }

.archmage .item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none; }
  .archmage .item-details > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage .item-details > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center; }
    .archmage .item-details > li > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .archmage .item-details label {
    line-height: 20px; }

.archmage .consumable-charges input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  margin-left: 5px;
  text-align: center; }

.archmage .sheet-tabs {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold; }
  .archmage .sheet-tabs .active {
    text-decoration: underline; }

.archmage .editor {
  height: 300px; }

.archmage.chat-card {
  font-style: normal; }
  .archmage.chat-card .card-header {
    border-bottom: 2px groove #fff;
    border-top: 2px groove #fff;
    padding: 3px 0; }
    .archmage.chat-card .card-header img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px;
      margin-right: 5px; }
    .archmage.chat-card .card-header h3 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      line-height: 36px;
      margin: 0; }
  .archmage.chat-card .card-content {
    margin: 5px 0; }
  .archmage.chat-card .card-buttons {
    margin: 5px 0; }
    .archmage.chat-card .card-buttons span {
      border: 1px solid #ccc;
      display: block;
      line-height: 28px;
      text-align: center; }
    .archmage.chat-card .card-buttons button {
      margin: 2px 0; }
  .archmage.chat-card .card-footer {
    border-top: 2px groove #fff;
    padding: 3px 0 0; }
    .archmage.chat-card .card-footer span {
      border-right: 2px groove #fff;
      font-size: 12px;
      padding: 0 5px 0 0; }
      .archmage.chat-card .card-footer span:last-child {
        border-right: 0;
        padding-right: 0; }

.traits .form-group label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.traits label {
  font-weight: bold; }

.currency {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .currency > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .currency .denomination {
    border-right: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 3px 3px 0; }
    .currency .denomination > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .currency .denomination label {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      margin-right: 3px; }
    .currency .denomination input {
      max-width: 48px;
      text-align: right; }
    .currency .denomination:last-child {
      border-right: 0; }

.inventory-list {
  height: calc(100% - 44px);
  list-style: none;
  margin: 0;
  overflow-y: visible;
  padding: 0; }
  .inventory-list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding: 0; }
    .inventory-list .item:nth-child(2) {
      border-top: 1px solid #333; }
    .inventory-list .item:last-child {
      border-bottom: 1px solid #333; }
    .inventory-list .item > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .inventory-list .item .item-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 5;
      -ms-flex: 5;
      flex: 5;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .inventory-list .item .item-name .item-image,
      .inventory-list .item .item-name h4 {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
      .inventory-list .item .item-name h4 {
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        padding-right: 5px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px; }
      .inventory-list .item .item-name .prepared {
        color: #666;
        font-size: 10px;
        margin-left: 3px; }
      .inventory-list .item .item-name .item-charges {
        color: #666;
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        font-size: 12px; }
    .inventory-list .item .item-usage {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .inventory-list .item .item-quantity,
    .inventory-list .item .item-weight {
      border-right: 1px solid #333;
      color: #fff;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
      flex: 0 0 32px;
      font-size: 12px;
      text-align: center; }
    .inventory-list .item .item-controls {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
      flex: 0 0 44px; }
      .inventory-list .item .item-controls a {
        color: #666;
        display: block;
        float: left;
        font-size: 10px;
        text-align: center;
        width: 22px; }
    .inventory-list .item .item-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 32px;
      width: 32px; }
    .inventory-list .item .item-summary {
      border-top: 1px solid #ccc;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      font-size: 12px;
      line-height: 16px;
      padding: .25em .5em; }
    .inventory-list .item .item-tags {
      border-bottom: 1px solid #ccc; }
    .inventory-list .item .item-tags,
    .inventory-list .item .item-properties {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .inventory-list .item .item-tags .tag,
      .inventory-list .item .item-properties .tag {
        border-right: 1px solid #ccc;
        font-size: 13px;
        padding: 0 4px; }
      .inventory-list .item .item-tags .tag--property,
      .inventory-list .item .item-properties .tag--property {
        border-right: 0;
        width: 100%; }
      .inventory-list .item .item-tags .tag--effect,
      .inventory-list .item .item-tags .tag--special,
      .inventory-list .item .item-tags .tag--feat,
      .inventory-list .item .item-properties .tag--effect,
      .inventory-list .item .item-properties .tag--special,
      .inventory-list .item .item-properties .tag--feat {
        border-right: 0;
        width: 100%; }
        .inventory-list .item .item-tags .tag--effect .description,
        .inventory-list .item .item-tags .tag--special .description,
        .inventory-list .item .item-tags .tag--feat .description,
        .inventory-list .item .item-properties .tag--effect .description,
        .inventory-list .item .item-properties .tag--special .description,
        .inventory-list .item .item-properties .tag--feat .description {
          margin-left: 8px; }
      .inventory-list .item .item-tags .tag--feat,
      .inventory-list .item .item-properties .tag--feat {
        background: -o-linear-gradient(45deg, #68d7f194, #ffffff00);
        background: linear-gradient(45deg, #68d7f194, #ffffff00);
        border: 0;
        margin: 4px 0; }
        .inventory-list .item .item-tags .tag--feat > strong,
        .inventory-list .item .item-properties .tag--feat > strong {
          display: block;
          margin: 8px 0 0 4px; }
        .inventory-list .item .item-tags .tag--feat .description,
        .inventory-list .item .item-properties .tag--feat .description {
          margin-left: 12px; }
        .inventory-list .item .item-tags .tag--feat p,
        .inventory-list .item .item-properties .tag--feat p {
          margin: 0 0 8px; }
    .inventory-list .item .item-action {
      border-left: 1px solid #333;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
      flex: 0 0 38px;
      position: relative;
      text-align: center; }
      .inventory-list .item .item-action::before {
        display: block;
        position: relative;
        z-index: 1; }
    .inventory-list .item .item-action__icon {
      background: #fff;
      bottom: 0;
      -webkit-box-shadow: 0 -4px 0 0 #fff, 0 4px 0 0 #fff;
      box-shadow: 0 -4px 0 0 #fff, 0 4px 0 0 #fff;
      display: none;
      height: 3px;
      left: 0;
      margin: auto;
      opacity: .45;
      position: absolute;
      top: 0;
      width: 16px;
      z-index: 0; }
    .inventory-list .item .item-action--standard::before {
      content: 'Std.';
      display: block; }
    .inventory-list .item .item-action--move::before {
      content: 'Move';
      display: block; }
    .inventory-list .item .item-action--move .item-action__icon {
      -webkit-box-shadow: 0 -4px 0 0 #fff;
      box-shadow: 0 -4px 0 0 #fff;
      top: 3px; }
    .inventory-list .item .item-action--quick::before {
      content: 'Qck.';
      display: block; }
    .inventory-list .item .item-action--quick .item-action__icon {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .inventory-list .item .item-action--free::before {
      content: 'Free';
      display: block; }
    .inventory-list .item .item-action--free .item-action__icon {
      -webkit-box-shadow: 6px 0 0 0 #fff, 12px 0 0 0 #fff;
      box-shadow: 6px 0 0 0 #fff, 12px 0 0 0 #fff;
      width: 3px; }
    .inventory-list .item .item-action--interrupt::before {
      content: 'Int.';
      display: block; }
    .inventory-list .item .item-action--interrupt .item-action__icon {
      -webkit-box-shadow: inset 0 0 0 2px #000;
      box-shadow: inset 0 0 0 2px #000; }
    .inventory-list .item .item-recharge {
      border-left: 1px solid #333;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px;
      padding: 0;
      text-align: center; }
    .inventory-list .item .item-quantity {
      border-left: 1px solid #333; }
    .inventory-list .item .ability-usage {
      background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
      background: linear-gradient(45deg, #25003c, #dc9ff1a6);
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 4px;
      text-shadow: 1px 1px 2px #000; }
      .inventory-list .item .ability-usage h4 {
        color: #fff; }
      .inventory-list .item .ability-usage input [type='text'],
      .inventory-list .item .ability-usage > span [type='text'] {
        color: #fff;
        text-shadow: 1px 1px 2px #000; }
      .inventory-list .item .ability-usage .item-recharge {
        color: #fff;
        text-shadow: 1px 1px 2px #000; }
    .inventory-list .item .ability-usage--blank {
      color: #000;
      text-shadow: none; }
    .inventory-list .item .ability-usage--at-will {
      background: -o-linear-gradient(45deg, #003c15, #5ee25e);
      background: linear-gradient(45deg, #003c15, #5ee25e); }
    .inventory-list .item .ability-usage--header {
      background: transparent; }
    .inventory-list .item .ability-usage--once-per-battle {
      background: -o-linear-gradient(45deg, #3c0000, #dc0000);
      background: linear-gradient(45deg, #3c0000, #dc0000); }
    .inventory-list .item .ability-usage--daily {
      background: -o-linear-gradient(45deg, #01003c, #ababab);
      background: linear-gradient(45deg, #01003c, #ababab); }
    .inventory-list .item .ability-usage--recharge {
      background: -o-linear-gradient(45deg, #01003c, #71a2ec);
      background: linear-gradient(45deg, #01003c, #71a2ec); }
    .inventory-list .item .ability-usage--other {
      background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
      background: linear-gradient(45deg, #25003c, #dc9ff1a6); }
  .inventory-list .inventory-header {
    background: rgba(0, 0, 0, 0.05);
    font-weight: 700;
    line-height: 20px; }
    .inventory-list .inventory-header h3 {
      font-size: 1em;
      font-weight: bold;
      margin: 0;
      padding-left: 32px; }
    .inventory-list .inventory-header .item-quantity,
    .inventory-list .inventory-header .item-weight {
      color: #111; }
    .inventory-list .inventory-header .item-controls .item-create {
      width: 100%; }

.encumbrance {
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #111;
  border-radius: 3px;
  height: 12px;
  margin-top: 5px; }
  .encumbrance .encumbrance-bar {
    background: #782e22;
    border: 1px solid #ff6400;
    border-radius: 3px;
    height: 8px;
    margin: 1px; }
  .encumbrance .encumbrance-label {
    float: right;
    font-size: 12px;
    line-height: 12px;
    padding-right: 5px;
    text-align: right; }

.class-header {
  line-height: 20px;
  margin: 3px 0 1px;
  position: relative; }
  .class-header h3 {
    color: #333;
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    margin: 0;
    text-align: center; }
  .class-header .item-create {
    color: #666;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0; }

.class-list {
  overflow: hidden; }
  .class-list .item {
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 3px;
    overflow: hidden;
    padding: 3px 3px 0; }
    .class-list .item .class-levels,
    .class-list .item .item-controls {
      font-size: 10px;
      line-height: 16px;
      text-align: right; }
    .class-list .item .class-levels {
      color: #333;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      padding-right: 5px; }
    .class-list .item > * {
      line-height: 20px; }
    .class-list .item .class-name,
    .class-list .item .class-subclass {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
      flex: 1 0 75%;
      margin: 0; }
    .class-list .item .class-name {
      color: #333;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px; }
    .class-list .item .class-subclass {
      color: #999;
      font-size: 13px;
      line-height: 14px; }

.archmage.sheet.actor-sheet form textarea {
  background: transparent;
  border: 1px solid transparent;
  resize: vertical; }
  .archmage.sheet.actor-sheet form textarea:hover, .archmage.sheet.actor-sheet form textarea:focus {
    border-color: #000;
    -webkit-box-shadow: 0 0 8px #ff0000;
    box-shadow: 0 0 8px #ff0000;
    outline: 0; }

.archmage.sheet .action-sheet .form-inputs input[type='text'] {
  height: auto; }

.archmage.actor-sheet.npc-sheet .charlevel .initiative {
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 20px;
  width: 100%; }
  .archmage.actor-sheet.npc-sheet .charlevel .initiative > label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet.npc-sheet .charlevel .initiative > span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    padding-right: 8px; }

.archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes {
  border-bottom: 0; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute {
    border: 0;
    border-bottom: 1px solid #333;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    height: auto;
    width: 100%; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--defenses .attribute-value {
    height: auto; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--defenses .attribute-display {
    height: 24px; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--resistance input,
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--resistance textarea,
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--vulnerability input,
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--vulnerability textarea {
    font-size: 14px; }

.archmage.actor-sheet.npc-sheet .actions .item-name,
.archmage.actor-sheet.npc-sheet .actions .item-description,
.archmage.actor-sheet.npc-sheet .traits .item-name,
.archmage.actor-sheet.npc-sheet .traits .item-description,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-name,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-description {
  padding: 0 8px; }

.archmage.actor-sheet.npc-sheet .actions .item-controls,
.archmage.actor-sheet.npc-sheet .traits .item-controls,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.archmage.actor-sheet.npc-sheet .actions .item-description,
.archmage.actor-sheet.npc-sheet .traits .item-description,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-description {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  width: 100%; }

.archmage.actor-sheet.npc-sheet .actions-header .item-name,
.archmage.actor-sheet.npc-sheet .actions-header .item-controls,
.archmage.actor-sheet.npc-sheet .traits-header .item-name,
.archmage.actor-sheet.npc-sheet .traits-header .item-controls,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-name,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-controls {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 4px 8px; }

.archmage.actor-sheet.npc-sheet .actions-header .item-name,
.archmage.actor-sheet.npc-sheet .traits-header .item-name,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bold; }

.archmage.actor-sheet.npc-sheet .actions-header .item-controls,
.archmage.actor-sheet.npc-sheet .traits-header .item-controls,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px; }

.archmage.actor-sheet.npc-sheet .actions-list .item-name p,
.archmage.actor-sheet.npc-sheet .actions-list .item-description p,
.archmage.actor-sheet.npc-sheet .traits-list .item-name p,
.archmage.actor-sheet.npc-sheet .traits-list .item-description p,
.archmage.actor-sheet.npc-sheet .nastier-specials-list .item-name p,
.archmage.actor-sheet.npc-sheet .nastier-specials-list .item-description p {
  line-height: 1.3;
  margin: 10px 0;
  padding-left: 10px;
  text-indent: -10px; }

.archmage.actor-sheet.npc-sheet .actions-list .item,
.archmage.actor-sheet.npc-sheet .traits-list .item,
.archmage.actor-sheet.npc-sheet .nastier-specials-list .item {
  border-top: 1px solid rgba(0, 0, 0, 0.25); }
  .archmage.actor-sheet.npc-sheet .actions-list .item:last-child,
  .archmage.actor-sheet.npc-sheet .traits-list .item:last-child,
  .archmage.actor-sheet.npc-sheet .nastier-specials-list .item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .archmage.actor-sheet.npc-sheet .actions-list .item .item-name h4,
  .archmage.actor-sheet.npc-sheet .traits-list .item .item-name h4,
  .archmage.actor-sheet.npc-sheet .nastier-specials-list .item .item-name h4 {
    font-size: 18px;
    line-height: 1.2;
    -o-text-overflow: initial;
    text-overflow: initial;
    white-space: normal; }

.archmage.actor-sheet.npc-sheet .actions .item-description .description {
  background: rgba(188, 222, 178, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 16px -8px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 16px -8px rgba(0, 0, 0, 0.25);
  margin: 8px 0;
  padding: 8px; }

.archmage-escalation {
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  border-radius: 5px;
  bottom: 67px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff;
  font-family: "warnock-pro", "sans-serif";
  font-size: 60px;
  height: 84px;
  left: 221px;
  line-height: 1.2;
  margin: 0 0 8px;
  pointer-events: none;
  position: fixed;
  text-align: center;
  width: 84px; }
  .archmage-escalation.hide {
    display: none; }
  .archmage-escalation::after {
    bottom: 2px;
    content: 'Escalation Die';
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 12px;
    left: 50%;
    line-height: 1;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80px; }

#chat-form {
  position: relative; }
  #chat-form::before {
    background-image: url("../assets/src/13a-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 4px;
    content: '';
    display: block;
    height: 100px;
    opacity: .1;
    pointer-events: none;
    position: absolute;
    right: 10px;
    width: 100px; }

.dc-inline-roll {
  display: inline-block;
  position: relative; }

.dc-inline-roll__result,
.dc-inline-roll__parts {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 0 4px; }
  .dc-inline-roll__result:hover .dc-inline-roll__parts,
  .dc-inline-roll__parts:hover .dc-inline-roll__parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.archmage .dc-inline-roll__result {
  line-height: 1;
  padding: 3px 4px 0; }

.dc-inline-roll__parts {
  background: rgba(0, 0, 0, 0.75);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  padding: 4px 8px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  z-index: 999; }

.dc-formula {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  line-height: 1;
  padding: 4px 0; }

.dc-parts {
  line-height: 1;
  padding: 8px 0 4px; }

.dc-discarded {
  opacity: .3; }

.dc-crit {
  color: #7bff94; }

.dc-fail {
  color: #ff8484; }

.chat-card .inline-roll,
.message .inline-roll {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-color: #000;
  border-radius: 4px;
  display: inline-block;
  line-height: 0;
  padding: 1px 4px;
  -webkit-transition: -webkit-transform ease-in-out 0.25s;
  transition: -webkit-transform ease-in-out 0.25s;
  -o-transition: transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s, -webkit-transform ease-in-out 0.25s; }
  .chat-card .inline-roll:hover,
  .message .inline-roll:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 90; }
  .chat-card .inline-roll .fas,
  .message .inline-roll .fas {
    color: #fff;
    font-size: 10px;
    line-height: 12px; }

.chat-card .dc-discarded,
.message .dc-discarded {
  opacity: .3; }

.chat-card .dc-crit,
.message .dc-crit {
  color: #7bff94;
  background: rgba(2, 66, 22, 0.75); }
  .chat-card .dc-crit:hover,
  .message .dc-crit:hover {
    text-shadow: 0 0 8px #000; }
  .chat-card .dc-crit .fas,
  .message .dc-crit .fas {
    color: #7bff94; }

.chat-card .dc-fail,
.message .dc-fail {
  color: #ff8484;
  background: rgba(70, 0, 0, 0.75); }
  .chat-card .dc-fail:hover,
  .message .dc-fail:hover {
    text-shadow: 0 0 8px #000; }
  .chat-card .dc-fail .fas,
  .message .dc-fail .fas {
    color: #ff8484; }

.archmage-prepopulate .window-content > .dialog-content {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  height: 100%;
  overflow-y: auto; }

.archmage-prepopulate .window-content > .dialog-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 10px 0 3px; }

.archmage-import-power {
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset;
  box-shadow: 0 0 2px #fff inset;
  display: block;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 24px !important;
  flex: 0 0 24px !important;
  height: 32px;
  line-height: 24px;
  margin: 4px;
  position: relative;
  text-align: center;
  width: auto; }

.item-sheet .sheet-header > .archmage-import-power {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 24px !important;
  flex: 0 0 24px !important; }

.import-powers-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.import-powers-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 2px 4px; }
  .import-powers-item:hover, .import-powers-item:focus {
    color: #fff; }
  .import-powers-item > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .import-powers-item > .title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .import-powers-item > .usage {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px; }
  .import-powers-item > .type {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px; }
  .import-powers-item > .level {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px; }
  .import-powers-item + .import-powers-item {
    border-top: 1px solid #999; }

.item-properties table,
.card-prop table {
  border: 0; }

.item-properties th,
.item-properties td,
.card-prop th,
.card-prop td {
  padding: 4px; }

.item-properties tr:nth-child(even),
.card-prop tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05); }
