// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
// ========================================
@import 'utils/init';

@font-face {
  font-family: 'Nodesto';
  src: url('../assets/fonts/NodestoCapsCondensed.otf');
}

// Preload assets.
.archmage-preload {
  background: url('../assets/src/ricepaper2_@2X.png') -9999px -9999px;
  pointer-events: none;
}


// Nodesto Font

.nodesto {
  color: $c-gray;
  font-family: $font-stack-base;
  font-size: 18px;
}

@import 'archmage-global';
@import 'archmage-prepopulate';
@import 'tables';
