<div class="archmage chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="ability-usage ability-usage--{{data.powerUsage.value}}">{{item.name}}</h3>
    </header>

    <div class="card-content">
        <div class="card-row">
            {{#if data.range.value}}
                <em>{{data.range.value}}</em>
            {{/if}}
            {{#each data.properties}}
            <div class="card-prop"><strong>{{this.label}}:</strong> {{this.value}}</div>
            {{/each}}
            {{#each data.effects}}
            <div class="card-row">
                <div class="card-prop"><strong class="card-label">{{this.label}}:</strong> {{{this.value}}}</div>
            </div>
            {{/each}}
            {{#if data.description.value}}
                <div class="card-row">
                    {{{data.description.value}}}
                </div>
            {{/if}}
        </div>
    </div>

    <footer class="card-footer">
        {{#each data.tags}}
        <span>{{this.value}}</span>
        {{/each}}
    </footer>
</div>
