<form>
    <div class="form-group">
        <label>Score to beat</label>
        <input type="text" name="challenge" value="" placeholder="e.g. 2"/>
    </div>
    <div class="form-group">
        <label>Roll Mode</label>
        <select name="rollMode">
        {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{label}}</option>
        {{/each}}
        </select>
    </div>
</form>