<form class="archmage item-sheet spell-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="44" width="44"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <article class="sheet-content">
        <!-- ITEM SHEET SIDEBAR -->
        {{#if hasSidebar}}
        <section class="sheet-sidebar">
            {{> (sidebarTemplate)}}
        </section>
        {{/if}}

        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-tab-container="primary">
                <a class="item" data-tab="description">Description</a>
                <a class="item active" data-tab="details">Details</a>
            </nav>

            <!-- Ability Description -->
            <div class="tab active" data-tab="description">
                {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
            </div>

            <!-- Ability Details -->
            <div class="tab" data-tab="details">
<!-- 
                <div class="form-group">
                    <label>{{data.powerSource.label}}</label>
                    <select name="data.powerSource.value" data-dtype="{{data.powerSource.type}}">
                        {{#select data.powerSource.value}}
                        {{#each powerSources as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <label>{{data.actionType.label}}</label>
                    <select name="data.actionType.value" data-dtype="{{data.actionType.type}}">
                        {{#select data.actionType.value}}
                        <option value="">- None -</option>
                        {{#each actionTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div> -->

                <div class="form-group">
                    <label>{{data.range.label}}</label>
                    <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="{{data.range.type}}" placeholder="Melee or Ranged"/>
                </div>

                <div class="form-group">
                    <label>{{data.target.label}}</label>
                    <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="{{data.target.type}}" placeholder="1d3 nearby enemies"/>
                </div>
<!-- 
                <div class="form-group">
                    <label>{{data.attack.label}}</label>
                    <input type="text" name="data.attack.value" value="{{data.attack.value}}" data-dtype="{{data.attack.type}}" placeholder="Strength + Level vs. AC"/>
                </div> -->

                <div class="form-group">
                    <label>{{data.cost.label}}</label>
                    <input type="text" name="data.cost.value" value="{{data.cost.value}}" data-dtype="{{data.cost.type}}" placeholder="1 luck"/>
                </div>

                <div class="form-group">
                    <label>{{data.special.label}}</label>
                    {{editor content=data.special.value target="data.special.value" button=true owner=owner editable=editable}}
                </div>

                <div class="form-group">
                    <label>{{data.effect.label}}</label>
                    {{editor content=data.effect.value target="data.effect.value" button=true owner=owner editable=editable}}
                </div>
            </div>
        </section>

    </article>
</form>
